{% extends "layout.html" %}

{% block content %}

<div class="row" style="margin-top:20px;" ng-controller="pixelController">


    <div class="col-md-6">
        <!--*************************************FIRST HEADER CATGEORY**********************************-->
        <div class="row" ng-show="!categoryClicked" style="margin-top: -22px;margin-bottom: 5px;">
            <h1 class="pitch">Create your own Snapchat filter for any occasion</h1>
            <div class="category-dropdown">
                <a ng-click="toggleModal('THANKSGIVING')" class="categorybtn">Thanksgiving</a>

                <a ng-click="toggleModal('BIRTHDAY')" class="categorybtn">Birthday</a>
                <a ng-click="toggleModal('WEDDING')" class="categorybtn">Wedding</a>
                <a ng-click="toggleModal('CATEGORIES')" class="categorybtn">More</a>
            </div>
        </div>
        <!--****************************************CATEGORY HEADER****************************************-->
        <div class="row" ng-show="categoryClicked">

            <!-- CAtegory Header-->
            <h1 class="category-page"> {%raw%}{{selectedCategory}}{%endraw%}</h1>
            <div class="category-dropdown-small">
                <a ng-click="toggleModal('CATEGORIES')" class="categorybtn">
                    Categories <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M5 8l4 4 4-4z" /></svg>
                </a>
            </div>
            <h2 class="category-page">{%raw%}{{categoryTagline}}{%endraw%}</h2>

        </div>

        <!--****************************************TEMPALATE DIVISION*****************************-->
        <div class="scrollbar" id="style-2" style="height:535px;overflow: scroll;overflow-x:hidden;">
            <div class="row " ng-repeat="array in arrayOfArrays">
                <div class="col-xs-6 col-sm-6 col-md-4 template" ng-repeat="url in array">
                    <span class="template-price" style="display: none;">$4.99</span>
                    <img class="img-responsive" ng-click="addImage(url)" src="{%raw%}{{url}}{%endraw%}" />
                </div>
            </div>
        </div>
    </div>
    <!--**********************************************TOOLS DIVISION*****************************************-->
    <div class="col-md-1 canvas-options">
        <div class="row">
            <div class="col-md-12 options" style="margin-bottom:5px;margin-right:20px;margin-top: -20px;">
                <h4 style="margin-left: 23px">Insert</h4>
                <img class="img-responsive toolimage" ng-click="toggleModal('ADD TEXT')" src="/static/images/text.png" />
            </div>
        </div>

        <!--************************ADD TEXT TO CANVAS BUTTON-->
        <div class="row">
            <div class="col-md-12 options" style="margin-bottom:5px;margin-right:20px">

                <img class="img-responsive toolimage" ng-click="toggleModal('ADD ELEMENT')" src="/static/images/elements.png" />
            </div>
        </div>
        <!--*************************UPLOAD BUTTON-->
        <div class="row">
            <div class="col-md-12 options image-upload" style="margin-bottom:5px;margin-right:20px;margin-bottom:-12px;">
                <label for="imgLoader">
                    <img class="img-responsive toolimage" " src="/static/images/upload.png" />
                </label>
                <input  type="file" id="imgLoader"   >
            </div>
        </div>
        <!--****************************EMOJI BUTTON-->
        <div class="row">
            <div class="col-md-12 options" style="margin-bottom:5px;margin-right:20px">

                <img class="img-responsive toolimage" ng-click="toggleModal('ADD EMOJI')" src="/static/images/bitmoji.png" />
            </div>
        </div>

        <!--**************************FONT SELECTION  BUTTON-->
        <div class="row">
            <div class="col-md-12 dropdown options" style="margin-bottom:5px;margin-right:20px">
                <h4 style="margin-left: 28px">Edit</h4>
                <img class="img-responsive toolimage" src="/static/images/font.png" />
                <div class="dropdown-content font-list scrollbar" id="style-2">
                    <p id="font_multicolor" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Multicolor</p>
                    <p id="font_gilbert" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Gilbert</p>
                    <p id="font_cookiemonster" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Cookie Monster</p>
                    <p id="font_sweetsensations" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Sweet Sensations</p>
                    <p id="font_multicolor" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Multicolor</p>
                    <p id="font_gilbert" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Gilbert</p>
                    <p id="font_cookiemonster" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Cookie Monster</p>
                    <p id="font_sweetsensations" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Sweet Sensations</p>
                    <p id="font_multicolor" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Multicolor</p>
                    <p id="font_gilbert" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Gilbert</p>
                    <p id="font_cookiemonster" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Cookie Monster</p>
                    <p id="font_sweetsensations" data-ng-click="getFont($event)" data-dismiss="modal" aria-hidden="true">Sweet Sensations</p>
                </div>
            </div>
        </div>

        <!--********************************REMOVE ELEMENT BUTTON-->
        <div class="row">

            <div class="col-md-12 options" style="margin-bottom:5px;margin-right:20px">

                <img class="img-responsive toolimage" ng-click="toggleModal('REMOVE ELEMENT')" src="/static/images/remove.png" />
            </div>
        </div>

        <!--*************************************COLOR VALUE BUTTON-->
        <div class="row">
            <div class="col-md-12 toolimage color-icon options" style="margin-bottom: 5px;width: 96px;height: 50px;line-height: 40px;border-radius: 6px;cursor: pointer;text-align: center;margin-left: 9px;margin-bottom: 10px;background-color: rgb(231, 231, 231);border: none;box-shadow: 2px 2px 2px #DDDDDD;">
                <input id="colorbar" class="jscolor {valueElement:null, value:'000000', onFineChange:'setColor(this)'} jscolor-active" readonly="readonly" style="background-image: none; background-color: black; color: rgb(255, 255, 255);">                <p>Change Color</p>
            </div>
        </div>
        <!--Script to call angular function to change canvas vvalue-->
        <script>
            function setColor(color) {
                angular.element(document.getElementById('colorbar')).scope().setObjectColor(color.toHEXString());
            }
        </script>

        <!--**********************************-PREVIEW BUTTON-->
        <div class="row">
            <br>
            <h5 style="margin-top: -16px;margin-left: 22px;">Preview</h5>
            <div class="col-sm-5">
                <button type="button" class="btn btn-lg btn-toggle" ng-click="showPreview()" style="margin:6px;" data-toggle="button" aria-pressed="false" autocomplete="off">
                    <div class="handle"></div>
                </button>
            </div>

            <br>
            <a href="https://support.snapchat.com/en-US/a/geofilter-guidelines" target="_blank" style="margin:16px;color: #000; text-decoration: underline">Guidelines</a>
        </div>
    </div>

    <!--*********************************************** CANVAS ******************************************************************-->
    <div class="col-md-5" style="width: 351px; height: 624px; position: relative; user-select: none;">

        <img src="/static/images/Transparent_Background.png" width="351" height="624" style="position: absolute;" />

        <div id="template_loader" ng-show="loading">
            <img src="/swipestudio/img/loading.gif">
        </div>
        <canvas id="canvas" width="351" height="624" style="position: absolute; width: 351px; height: 624px; left: 0px; top: 0px; user-select: none; touch-action: none; cursor: default;"></canvas>

    </div>




    <!--///////////////// MODAL FOR TEXT-->
    <modal visible="showModalText">

        <h5>(Pick a font style from below)</h5>
        <div class="row" id="presetfont-list">
            <p id="font_multicolor" data-ng-click="getText($event)" data-dismiss="modal" aria-hidden="true">Multicolor</p>
            <p id="font_gilbert" data-ng-click="getText($event)" data-dismiss="modal" aria-hidden="true">Gilbert</p>
            <p id="font_cookiemonster" data-ng-click="getText($event)" data-dismiss="modal" aria-hidden="true">Cookie Monster</p>
            <p id="font_sweetsensations" data-ng-click="getText($event)" data-dismiss="modal" aria-hidden="true">Sweet Sensations</p>

        </div>
    </modal>
    <!--///////////////// MODAL FOR ELEMENT-->
    <modal visible="showModalElement">

        <h5>(Pick an Element from below)</h5>
        <div class="row" id="presetfont-list">
            <div class="col-md-12 scrollbar" style="height:450px;overflow: scroll;overflow-x:hidden">
                <div class="row" ng-repeat="array in arrayOfElements">
                    <div class="col-md-4" ng-repeat="url in array">
                        <img class="img-responsive toolElement" data-ng-click="getElement(url)" data-dismiss="modal" aria-hidden="true" src={%raw%}{{url}}{%endraw%} />
                    </div>
                </div>
            </div>
        </div>
    </modal>

    <!--///////////////// MODAL FOR CATEGORIES-->
    <modal visible="showModalCategory">

        <h5>(Pick a Category from below)</h5>
        <div class="row" id="presetfont-list">
            <div class="col-md-12 scrollbar" style="height:450px;overflow: scroll;overflow-x:hidden;">

                <!--<img class="img-responsive toolElement" data-ng-click="getElement(url)" data-dismiss="modal" aria-hidden="true" src={%raw%}{{url}}{%endraw%} />-->

                <div class="row" ng-repeat="cat in categories">
                    <p id="font_multicolor" data-ng-click="getCategory(cat)" data-dismiss="modal" aria-hidden="true">{%raw%}{{cat}}{%endraw%} </p>
                </div>
            </div>
        </div>
    </modal>
</div>


<!------------------------ FOOTTER  -->
<div class="row">
    <div class="col-sm-12 footer" align="center">
        <a href="/affiliate" target="_blank">Affiliate</a>
        <a href="/faq" target="_blank">FAQs</a>
        <a href="https://swipestudio.co/forums" target="_blank">Forum</a>
        <a href="http://blog.swipestudio.co" target="_blank">Blog</a>
    </div>
    <div class="col-sm-12 footer footer-social non-canvas-view" align="center">
        <a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://medium.com/" target="_blank"><i class="fa fa-medium"></i></a>
        <a href="http://pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
    </div>
</div>
{% endblock %}
